<h1>New article</h1>
 
<%= render 'form' %>
 
<%= link_to 'Back', articles_path %>

<%# This file's contents was previously the same as edit.  To keep code dry, it has been moved into a partial called _form.html.erb.  This form is referenced on line 3 %>