<h1>Hello, Rails!</h1>
<%= link_to "My Blog", controller: "articles" %>

<%# link_to is a Rails built-in view helper.  It creates a hyperlink to the path for articles %>
<%# "controller: 'articles'" only needs to be included in your link_to when you are linking to a view controlled by another controller %>